body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.person-info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
h2 {
    margin-top: 0;
}

.person-info{
    margin-top: 29px;
}
